img[src$="#inline"] {
  height: 25px;
  vertical-align: middle;
}

img[src$="#gitinline"] {
  height: 30px;
  background: url("../img/octocat.svg") no-repeat;
  vertical-align: middle;
}

img[src$="#wwinline"] {
    height: 25px;
    width: 160px;
    background: url("../img/weaveworks.svg") no-repeat;
    vertical-align: middle;
  }

.md-header-nav__title {
  padding: 0px;
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color: #c8cad5;
}

[data-md-color-scheme="slate"] img[src$="#wwinline"] {
  background: url("../img/weaveworks-light.svg") no-repeat;
}

[data-md-color-scheme="slate"] img[src$="#gitinline"] {
  height: 30px;
  background: url("../img/octocat-light.svg") no-repeat;
}

.md-typeset .md-button {
    padding: 0.3em 0.3em;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.2rem;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }