img[src$="#inline"] {
  height: 25px;
  vertical-align: middle;
}

img[src$="#gitinline"] {
  height: 30px;
  background: url("../img/octocat.svg") no-repeat;
  vertical-align: middle;
}

img[src$="#wwinline"] {
    height: 25px;
    width: 160px;
    background: url("../img/weaveworks.svg") no-repeat;
    vertical-align: middle;
  }

[data-md-color-scheme="slate"] {
  --md-default-fg-color: #c8cad5;
}

a.md-button.announce {
    padding: 0.3em 0.3em;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 1.9rem;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
 }

.heart {
    animation: heart 1000ms infinite;
}

.glide__slide img {
    height: 50px;
}

.glide__slides {
    list-style-type: none !important;
}

.glide {
    width: 100%;
    padding: .4rem 0;
    text-align: center; 
    margin: auto 0.6rem;
}

.md-copyright {
    width: 100% !important;
}

ol:not([hidden]).glide__slides, ul:not([hidden]).glide__slides {
    display: flex !important;
}