@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
}

img[src$="#inline"] {
  height: 30px;
}

img[src$="#inline-svg"] {
  height: 20px;
}

img[src$="#bgright"] {
  position: absolute;
  right: 0px;
  top: 250px;
  z-index: -1;
}

#intro-code {
  text-align: center;
  line-height: 200px;
}

#border-block {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #e5e5e5;
}

#github {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#github-section {
  padding-left: 5px;
  display: inline-block;
}

// Responsive styles
@media screen and (max-width: $md-breakpoint + $toc-width) {
  #github-section {
    padding-left: 0px;
    display: block;
  }
}

@media screen and (max-width: $md-breakpoint + $padding-16) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 300px;
    z-index: -1;
  }
  #github {
    display: none;
  }
}

@media (max-width: 741px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 350px;
    z-index: -1;
  }
}

@media screen and (max-width: $sm-breakpoint) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 280px;
    z-index: -1;
  }
}

@media (max-width: 538px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 340px;
    z-index: -1;
  }
}

@media (max-width: 429px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 380px;
    z-index: -1;
  }
}

@media (max-width: 378px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 400px;
    z-index: -1;
  }
}

@media (max-width: 349px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 480px;
    z-index: -1;
  }
  #intro-code {
    text-align: center;
    font-size: 20px;
    line-height: 200px;
  }
}
