@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
}

img[src$="#bgright"] {
  position: absolute;
  right: 0px;
  top: 160px;
  z-index: -1;
}

img[src$="#bgright2"] {
  position: absolute;
  right: 0px;
  top: 160px;
  z-index: -1;
}

#code {
  text-align: center;
  line-height: 200px;
}

@media (max-width: 1060px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 210px;
    z-index: -1;
  }
  img[src$="#bgright2"] {
    display: none;
    z-index: -1;
  }
}

@media (max-width: 780px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 250px;
    z-index: -1;
  }
}

@media (max-width: 700px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 290px;
    z-index: -1;
  }
}

@media (max-width: 659px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 220px;
    z-index: -1;
  }
}

@media (max-width: 500px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 280px;
    z-index: -1;
  }
}

@media (max-width: 420px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 280px;
    z-index: -1;
  }
}

@media (max-width: 320px) {
  img[src$="#bgright"] {
    position: absolute;
    right: 0px;
    top: 340px;
    z-index: -1;
  }
  #code {
    text-align: center;
    font-size: 20px;
    line-height: 200px;
  }
}
