@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
}

table {
  overflow-x: scroll;
}

img[src$="#inline"] {
  height: 25px;
}

img[src$="#inline-ww"] {
  height: 20px;
}

#intro-code {
  text-align: center;
  line-height: 200px;
  background: url("introduction/images/eksctl-gopher.png") no-repeat top right;
}

#styled-code {
  border-radius: 2px;
  background: #f8f9fa;
}

#github {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#github-section {
  padding-left: 5px;
  display: inline-block;
}

// Responsive styles
@media screen and (max-width: $md-breakpoint + $toc-width) {
  #github-section {
    padding-left: 0px;
    display: block;
  }
}

@media screen and (max-width: $md-breakpoint + $padding-16) {
  #github {
    display: none;
  }
  table {
    display: block;
  }
}

@media (max-width: 349px) {
  #intro-code {
    text-align: center;
    font-size: 20px;
    line-height: 200px;
  }
}
