.highlight {
  position: relative;
}
.highlight pre {
  padding-right: 75px;
  background: #eeeeee;
}

.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 2px;
  background: url('/svg/copy.svg') no-repeat top right;
  font-size: 0.7em;
  line-height: 1.8;
  min-height: 22px;
  min-width: 22px;
  text-align: center;
  display: inline;
}

.highlight-copy-btn:hover {
  background-color: #ddd;
}

.highlight-copy-btn:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  outline: 0;
}
