# Test binary, build with `go test -c`
*.test

# Release config file backups
.goreleaser.brew.combined.yml

# Locally built binary
/eksctl

# Bad deps
vendor/k8s.io/kops/docs

# Jekyll
_site

# Do not add temporary files here
# use ~/.config/git/ignore instead

# Test coverage output
coverage.out

# Test results
test-results/
