# Test binary, build with `go test -c`
*.test

# Release config file backups
.goreleaser.brew.combined.yml

# Locally built binary
/eksctl

# Bad deps
vendor/k8s.io/kops/docs
vendor/github.com/docker/docker/hack

# Other misc files to exclude from deps 
vendor/k8s.io/kubernetes/.bazelrc
vendor/k8s.io/kubernetes/.kazelcfg.json
vendor/k8s.io/kubernetes/BUILD.bazel
vendor/k8s.io/kubernetes/Makefile
vendor/k8s.io/kubernetes/Makefile.generated_files
vendor/k8s.io/kubernetes/WORKSPACE

# Jekyll
_site

# Do not add temporary files here
# use ~/.config/git/ignore instead

# Test coverage output
coverage.out

# Test results
test-results/

