[build]
  base = "userdocs"
  publish = "site"
  command = "cd .. && make -f Makefile.docs build-pages"
[context.deploy-preview]
  ignore = "git diff --quiet HEAD^ HEAD ./"

[build.environment]
  PYTHON_VERSION = "3.8"
