version: 2
jobs:
  make-eksctl-image:
    # use machine build, as otherwise we cannot use make and have to duplicate makefile
    machine: true
    steps:
      - checkout
      - run: make eksctl-image
  make-release:
    machine: true
    steps:
      - checkout
      - run: make release
  coverage:
    machine: true
    steps:
      - checkout
      - run: make setup-coverage
      - run: make test-with-coverage

workflows:
  version: 2
  any-commit:
    jobs:
      - coverage
      - make-eksctl-image:
          filters:
            tags:
              ignore: /.*/
  release:
    jobs:
      - make-eksctl-image:
          filters:
            branches:
              ignore: /.*/
            tags:
              ignore: /^latest_release$/
      - make-release:
          requires: [make-eksctl-image]
          filters:
            branches:
              ignore: /.*/
            tags:
              ignore: /^latest_release$/
