version: 2.1

commands:
  prepare-ssh-keys:
    description: Prepare SSH keys to be mounted with the right permissions for Git
    steps:
      - run:
          name: Prepare SSH keys to be mounted with the right permissions for Git
          command: |
            if [ ! -z "$SSH_KEY_NAME" ]; then
              cp -r $HOME/.ssh $HOME/project/.ssh
              sudo printf "Host github.com\n  IdentityFile /root/.ssh/$SSH_KEY_NAME\n" > $HOME/project/.ssh/config
              sudo chmod -R 600 $HOME/project/.ssh
              sudo chown -R root:root $HOME/project/.ssh
            else
              echo "No SSH key found. Skipping..."
            fi
  docker-run:
    description: Run docker command
    parameters:
      cmd:
        type: string
    steps:
      - run:
          name: docker run << parameters.cmd >>
          command: |
            docker run \
              --env=JUNIT_REPORT_DIR=/src/test-results \
              --env=GOPRIVATE \
              --volume=$(pwd):/src \
              --volume=/home/circleci/.cache/go-build/:/root/.cache/go-build \
              --volume=/home/circleci/go/pkg/mod/:/go/pkg/mod \
              --volume=$HOME/project/.ssh:/root/.ssh \
              weaveworks/eksctl-build:$(cat .docker/image_tag) << parameters.cmd >>
  docker-pull-build-image:
    description: Docker pull image
    steps:
      - run: docker pull "weaveworks/eksctl-build:$(cat .docker/image_tag)"
  save-cache:
    description: Save cache
    steps:
      - run:
          name: Prepare cache to be saved
          command: |
            sudo chown -R circleci.circleci /home/circleci/.cache/go-build/
            sudo chown -R circleci.circleci /home/circleci/go/pkg/mod/
      - save_cache:
          key: go-cache-{{ .Branch }}-{{ .Revision }}
          paths:
            - "/home/circleci/.cache/go-build/"
            - "/home/circleci/go/pkg/mod/"

jobs:
  test-and-build:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      GOPRIVATE: github.com/weaveworks/aws-sdk-go-private
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-cache-{{ .Branch }}-{{ .Revision }}
            - go-cache-{{ .Branch }}-
            - go-cache-
      # enabling docker executor will require to use large resource class, which
      # implies extra cost - we don't really have to do that, we can just run the
      # image this way
      - docker-pull-build-image
      # Now build eksctl with the Go cache in RO so it compiles faster
      - add_ssh_keys:
          fingerprints:
            - "81:df:39:29:89:d6:34:ed:2e:4e:70:71:f1:f3:f6:0c"
      - prepare-ssh-keys
      - docker-run:
          cmd: go mod download
      - docker-run:
          cmd: make test build
      - save-cache
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results
  release-candidate:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - docker-pull-build-image
      - run:
          name: Create release candidate binaries for all plaforms and upload to GitHub
          command: make -f Makefile.docker release-candidate
          no_output_timeout: 21m
  release:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - docker-pull-build-image
      - run:
          name: Create release binaries for all plaforms and upload to GitHub
          command: make -f Makefile.docker release
          no_output_timeout: 21m
  integration-tests:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      BUILD_IMAGE: weaveworks/eksctl-build:242d3cf855385c4cb174cd0fadf6dc7ac4f76a55
    steps:
      - checkout
      - run: docker pull $BUILD_IMAGE
      - add_ssh_keys:
          fingerprints:
            - "82:cb:ed:40:f3:27:05:e6:16:9d:68:25:40:7d:83:07"
      - prepare-ssh-keys
      - run:
          name: Run Integration Tests
          command: |
            mkdir test-results; \
            docker run \
            --env=JUNIT_REPORT_DIR=/src/test-results \
            --env=AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            --env=AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            --volume=$(pwd):/src \
            --volume=$HOME/project/.ssh:/root/.ssh \
            $BUILD_IMAGE make integration-test TEST_V=1 SSH_KEY_PATH="${USE_SSH_KEY}"
          no_output_timeout: 35m
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results

workflows:
  version: 2
  any-commit:
    jobs:
      - test-and-build:
          filters:
            tags:
              ignore: /.*/
  release:
    jobs:
      - test-and-build:
          filters:
            branches:
              ignore: /.*/
            tags:
              ignore: /^latest_release$/
      - release-candidate:
          requires: [test-and-build]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+/
      - release:
          requires: [test-and-build]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+\.[0-9]+\.[0-9]+/
  scheduled-integration-tests:
    triggers:
      - schedule:
          cron: "0 3 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - integration-tests
