version: 2
jobs:
  test-and-build:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      BUILD_IMAGE: weaveworks/eksctl-build:33809a72f41297a01f023976c418ea6360e6800d
    steps:
      - checkout
      # enabling docker executor will require to use large resource class, which
      # implies extra cost - we don't really have to do that, we can just run the
      # image this way
      - run: docker pull $BUILD_IMAGE
      - run:
          name: Test & Build
          command: |
            docker run \
              --env=JUNIT_REPORT_DIR=/src/test-results \
              --volume=$(pwd):/src \
                $BUILD_IMAGE make test build
      - store_test_results:
          path: ./test-results
      - store_artifacts:
          path: ./test-results
  release-candidate:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      BUILD_IMAGE: weaveworks/eksctl-build:33809a72f41297a01f023976c418ea6360e6800d
    steps:
      - checkout
      - run: docker pull $BUILD_IMAGE
      - run:
          name: Create release candidate binaries for all plaforms and upload to GitHub
          command: make release-candidate
          no_output_timeout: 21m
  release:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      BUILD_IMAGE: weaveworks/eksctl-build:33809a72f41297a01f023976c418ea6360e6800d
    steps:
      - checkout
      - run: docker pull $BUILD_IMAGE
      - run:
          name: Create release binaries for all plaforms and upload to GitHub
          command: make release
          no_output_timeout: 21m

workflows:
  version: 2
  any-commit:
    jobs:
      - test-and-build:
          filters:
            tags:
              ignore: /.*/
  release:
    jobs:
      - test-and-build:
          filters:
            branches:
              ignore: /.*/
            tags:
              ignore: /^latest_release$/
      - release-candidate:
          requires: [test-and-build]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+/
      - release:
          requires: [test-and-build]
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+\.[0-9]+\.[0-9]+/
