mkdocs                  == 1.3.0
mkdocs-material         == 8.2.14
mkdocs-redirects
pymdown-extensions      == 9.4
jinja2                  == 3.1.2

# Dependencies from material theme 
mkdocs-material-extensions>=1.0.3
pygments>=2.12
markdown>=3.2
