table#config {
    font-family: monospace;
}
table#config span.example,
table#config span.value {
    filter: opacity(70%);
}
table#config td.comment:nth-child(3) {
    display: none;
    border-left: 2px solid whiteSmoke;
}
table#config td:first-child{
    padding-right: 50px;
}
table#config td span.required a.key{
    font-weight: bold;
}
table#config td.type {
    filter: opacity(70%);
    font-size: 80%;
}
