img[src$="#inline"] {
  height: 25px;
}

img[src$="#gitinline"] {
  height: 30px;
  background: url("img/octocat.svg") no-repeat;
}

img[src$="#wwinline"] {
    height: 25px;
    width: 160px;
    background: url("img/weaveworks.svg") no-repeat;
  }

img[src$="#content"] {
  width: $content-img;
  height: auto;
}

#intro-code {
  text-align: center;
  color: #39464d;
  height: 214px;
  border-radius: 2px;
  margin-top: 16px;
  background: #f5f5f5 url("img/eksctl-gopher.png") no-repeat top right;
}

.md-header-nav__title {
  padding: 0px;
}

#dark-mode-button {
  width: 30px;
  height: 45px;
  background: no-repeat center;
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color: #c8cad5;
}

[data-md-color-scheme="slate"] img[src$="#wwinline"] {
  background: url("img/weaveworks-light.svg") no-repeat;
}

[data-md-color-scheme="slate"] img[src$="#gitinline"] {
  height: 30px;
  background: url("img/octocat-light.svg") no-repeat;
}

[data-md-color-scheme="slate"] #intro-code {
    background: #262a35 url("img/eksctl-gopher.png") no-repeat top right;
}
