name: CI

on:
  pull_request: {}

env:
  GOPRIVATE: github.com/weaveworks/aws-sdk-go-private

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: weaveworks/eksctl-build:f7ca8ff60e5531bf7fce280d3be21771edcc946e
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache go-build and mod
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: ${{ hashFiles('go.sum') }}
      - name: Lint
        run: make lint
