name: Publish ECR eksctl-build image

on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push-to-registry:
    name: Build and push container image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          aws-region: us-east-1
          role-duration-seconds: 7200
          role-session-name: eksctl-build-ecr-publisher
          role-to-assume: ${{ secrets.ECR_PUBLISH_ROLE_ARN }}

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v1
        with:
          registry-type: public

      - name: Cache go-build and mod
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 #v3.3.2
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: go-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-

      - name: Setup Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe #v4.1.0
        with:
          go-version: 1.20.x

      - name: Setup deps
        run: |
          make install-build-deps

      - name: Build and push image
        run: |
          PATH=$PATH:$(go env GOPATH)/bin make -f Makefile.docker push-build-image