name: Trigger Release

on:
  workflow_dispatch: {}

jobs:
  rc:
    name: Push release tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          token: ${{ secrets.EKSCTLBOT_TOKEN }}
          fetch-depth: 0
      - name: Setup build environment
        uses: ./.github/actions/setup-build
      - name: Setup identity as eksctl-bot
        uses: ./.github/actions/setup-identity
        with:
          token: "${{ secrets.EKSCTLBOT_TOKEN }}"
      - name: Push tag and open PR to default branch
        run: make prepare-release
