name: Release

on:
  workflow_dispatch: {}

jobs:
  rc:
    name: Trigger release build
    runs-on: ubuntu-latest
    container: weaveworks/eksctl-build:dd26c9e3baf8c275667bc15b1ce08aff6424a709
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.EKSCTLBOT_TOKEN }}
          fetch-depth: 0
      - name: Cache go-build and mod
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: go-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-
      - name: Setup identity as eksctl-bot
        uses: ./.github/actions/setup-identity
        with:
          token: "${{ secrets.EKSCTLBOT_TOKEN }}"
      - name: Push tag and open PR to default branch
        run: make prepare-release
