name: Trigger Release Candidate

on:
  workflow_dispatch: {}

jobs:
  rc:
    name: Push release candidate tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          fetch-depth: 0

      - name: Setup build environment
        uses: ./.github/actions/setup-build

      - name: Setup identity as eksctl-bot
        uses: ./.github/actions/setup-identity
        with:
          token: "${{ secrets.EKSCTLBOT_TOKEN }}"

      - name: Push tag and open PR to default branch
        run: make prepare-release-candidate
