name: Release candidate

on:
  workflow_dispatch:
    inputs:
      skipIntegrationTests:
        description: 'Skip check for successful integration tests:'
        default: 'false'

jobs:
  rc:
    name: Trigger release candidate build
    runs-on: ubuntu-latest
    container: weaveworks/eksctl-build:f9821abfaa1a0e1aee2288ab54ac1c0d53ff7a26
    steps:
      - uses: actions/github-script@v3
        name: Get integration tests status
        id: it-status
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // There's no other way to identify the integration test job
            // GH branch protections are also just a string
            // must be in sync with integration-tests.yaml
            const integrationTestsCheckName = "Run integration tests";
            const { data } = await github.checks.listForRef({
              ...context.repo,
              ref: "${{ github.sha }}",
              check_name: integrationTestsCheckName,
            });
            return data.check_runs.some(cr =>
              cr.status === "completed" && cr.conclusion === "success"
            );
      - name: Fail if integration tests not passed
        if: "!fromJson(steps.it-status.outputs.result) && !fromJson(github.event.inputs.skipIntegrationTests)"
        run: echo "Integration tests haven't passed yet!" && exit 1
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.WEAVEWORKSBOT_TOKEN }}
          fetch-depth: 0
      - name: Cache go-build and mod
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: ${{ hashFiles('go.sum') }}
      - name: Setup git config as weaveworksbot
        run: |
          git config user.name "weaveworksbot"
          git config user.email "weaveworksbot@users.noreply.github.com"
      - name: Push release branch, tag RC and update main branch
        run: make prepare-release-candidate
