name: test-and-build

on:
  pull_request: {}
  workflow_call: {}

jobs:
  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 0
      - name: Setup build environment
        uses: ./.github/actions/setup-build
      - name: Unit test
        run: |
          make build
          make unit-test-no-generate
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 0
      - name: Setup build environment
        uses: ./.github/actions/setup-build
      - name: Check go.mod and go.sum
        run: make check-gomod
      - name: Check schema.json
        run: make check-schema
      - name: Lint
        run: make lint
