name: Update generated files
on:
  workflow_dispatch: {}
  schedule:
  - cron: "0 5 * * Thu"

permissions:
  id-token: write

env:
  DEFAULT_BRANCH: main

jobs:
  update_generated_file:
    strategy:
      fail-fast: false
      matrix:
        resource: ["coredns", "aws-node", "nvidia-device-plugin"]
    name: Update ${{ matrix.resource }} and open PR
    runs-on: ubuntu-latest
    container: public.ecr.aws/eksctl/eksctl-build:6c2690691bd3c017e727553eae863f2cf5c17e67
    env:
      GOPRIVATE: ""
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      with:
        token: ${{ secrets.EKSCTLBOT_TOKEN }}
        fetch-depth: 0
    - name: Configure AWS credentials for coredns update
      if: ${{ matrix.resource == 'coredns' }}
      uses: aws-actions/configure-aws-credentials@4fc4975a852c8cd99761e2de1f4ba73402e44dd9 # v4.0.3
      with:
        aws-region: us-west-2
        role-duration-seconds: 900
        role-session-name: eksctl-update-coredns-assets
        role-to-assume: ${{ secrets.UPDATE_COREDNS_ROLE_ARN }}
    - name: Setup identity as eksctl-bot
      uses: ./.github/actions/setup-identity
      with:
        token: "${{ secrets.EKSCTLBOT_TOKEN }}"
    - name: Cache go-build and mod
      uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 #v4.2.0
      with:
        path: |
          ~/.cache/go-build/
          ~/go/pkg/mod/
        key: go-${{ hashFiles('go.sum') }}
        restore-keys: |
          go-
    - name: Update ${{ matrix.resource }}
      run: make update-${{ matrix.resource }}
    - name: Upsert pull request
      uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f #v7.0.6
      with:
        token: ${{ secrets.EKSCTLBOT_TOKEN }}
        commit-message: update ${{ matrix.resource }}${{ env.LATEST_RELEASE_TAG }}
        committer: eksctl-bot <eksctl-bot@users.noreply.github.com>
        title: 'Update ${{ matrix.resource }}${{ env.LATEST_RELEASE_TAG }}'
        branch: update-${{ matrix.resource }}
        labels: area/tech-debt
        body: |
          Auto-generated by [eksctl Update Generated Files GitHub workflow][1]

          [1]: https://github.com/eksctl-io/eksctl/blob/main/.github/workflows/update-generated.yaml

          Please manually test before approving and merging.
